  body
{background-color: #EAF6F6;
}
h1
{
  color: #5EAAA8;
}
h3 
{
  color: #5EAAA8;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border color: grey;
  border-width: 5px;
  width: 5%;
}
